<div class="login-body">
  <section class="container">
    <header>Login</header>
    <form class="form" [formGroup]="loginForm">
      <div class="input-box">
        <label>Email</label>
        <input type="text" formControlName="email"  placeholder="" required />
      </div>

      <div class="input-box">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="" required />
      </div> <br>
      <p>New? <a routerLink="/signup">Register here!</a></p>
      <button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </section>
</div>
<router-outlet></router-outlet>