<mat-card class="main-content">
  <mat-card-header class="login-header"> Login </mat-card-header><br>
  <mat-card-content align="center">
    <form [formGroup]="loginForm">
      <mat-form-field class="full-width">
        <mat-label for="emailAddress">Email</mat-label>
        <input for="emailAddress" formControlName="email" matInput>
      </mat-form-field>
      <mat-form-field class="full-width"> 
        <mat-label for="password">Password</mat-label>
        <input for="password" formControlName="password" matInput>
      </mat-form-field> 
      <div style="align-items: center;">
        <p >New? <a routerLink="/signup" style="text-decoration: none;"> Sign in here!</a></p>
      </div>
      <button style="align-items: center;" type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </form>
  </mat-card-content>
</mat-card>


<!-- <div class="login-body">
  <section class="container">
    <header>Login</header>
    <form class="form" [formGroup]="loginForm">
      <div class="input-box">
        <label>Email</label>
        <input type="text" formControlName="email"  placeholder="" required />
      </div>

      <div class="input-box">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="" required />
      </div> <br>
      <p>New? <a routerLink="/signup">Register here!</a></p>
      <button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </section>
</div>
<router-outlet></router-outlet> -->