<h3 mat-dialog-title> Add Edit Task</h3>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addEditForm">
        <mat-form-field class="example-full-width">
            <mat-label for="task-name">Task Name </mat-label>
            <input matInput id="task-name" formControlName="taskName"><br>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label for="status">Status </mat-label>
            <mat-select formControlName="status">
                <mat-option value="On Time">On Time</mat-option>
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Closed">Closed</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label for="status">Priority </mat-label>
            <mat-select formControlName="priority">
                <mat-option value="Low">Low</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="High">High</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>




<!-- <h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content class="mat-typography">
    <p>Are you sure you want to delete?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button [mat-dialog-close]="false">No</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->