<mat-toolbar class="custom-background">
    <span class="nav-title">Task Tracker</span>
    <button class="example-icon" *ngIf="!isHomeActive; else homeRaised1" mat-button (click)="navigateToHome(menuHome)">
        <span class="normal-space">{{menuHome}}</span>
    </button>

    <button class="example-icon" *ngIf="!isAboutActive; else aboutUsRaised2" mat-button (click)="navigateToAboutUs(menuAboutUs)">
        <span class="normal-space">{{menuAboutUs}}</span>
    </button>

    <button class="example-icon" *ngIf="!isSettingsActive; else settingsRaised3" mat-button (click)="navigateToSettings(menuSettings)">
        <span class="normal-space" >{{menuSettings}}</span>
    </button>   

    <span class="example-spacer"></span>    
    
    
  </mat-toolbar>

  <ng-template #homeRaised1>
    <button mat-raised-button
            (click)="toggleActive(menuHome)">
      {{menuHome}}
    </button>
  </ng-template>

  <ng-template #aboutUsRaised2>
    <button mat-raised-button
            (click)="toggleActive(menuAboutUs)">
      {{menuAboutUs}}
    </button>
  </ng-template>

  <ng-template #settingsRaised3>
    <button mat-raised-button
            (click)="toggleActive(menuSettings)">
      {{menuSettings}}
    </button>
  </ng-template>

<router-outlet></router-outlet>