.example-spacer {
    flex: 1 1 auto;
  }
.normal-space {
    padding-left:1%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}
.active-button{
    background-color: #007bff;
    color: white;
}
.nav-title{
    padding-right: 2%;
}
.custom-background{
    background-color: rgb(245, 169, 226);
}
  