table {
    min-height: 50%;
    background-color: rgb(244, 203, 232);
    margin-left: auto;
    margin-right: auto;  
}
.total-table{
  padding: 3%;
}
::ng-deep .mat-mdc-header-cell{
 font-weight: bolder;
}

.pointer{
  cursor: pointer;
}

.add-new-product-button{
  left:95%;
  margin-bottom: 2%;
}