<button mat-fab matTooltip="Add New Task!" (click)="addNewTask()" color="dark" class="add-new-task-button"><mat-icon>add</mat-icon></button>

  <ng-template #addTask> 
    <h3 mat-dialog-title> Add Task</h3>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="newTaskForm">
          <mat-form-field appearance="outline">
          <mat-label for="task-name">Task Name: </mat-label>
          <input matInput id="task-name" formControlName="taskName"><br>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="status">Status: </mat-label>
            <mat-select formControlName="status">
              <mat-option value="ontime">On Time</mat-option>
              <mat-option value="inprogress">In Progress</mat-option>
              <mat-option value="closed">Closed</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label for="status">Priority: </mat-label>
              <mat-select formControlName="priority">
                <mat-option value="low">Low</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="high">High</mat-option>
              </mat-select>
              </mat-form-field>

            <mat-form-field >
              <mat-label>Due Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dueDate" >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>
  
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
    </mat-dialog-actions>
  </ng-template>
<router-outlet></router-outlet>