.add-new-task-button{
    position:fixed;
    top: 86%;
    right:4%;
    background-color: rgb(167, 141, 166);
}

.example-full-width{
    width: 100%;
}
.new-task-form-color .mat-mdc-fab{
    background-color: white;
}